In [32]:
# Check the versions of libraries

# Python version
import sys

# scipy
import scipy

# numpy
import numpy as np

# matplotlib
import matplotlib

# pandas
import pandas as pd
from pandas.plotting import scatter_matrix

# matplotlib
import matplotlib.pyplot as plt

# time
import time

# scikit-learn
import sklearn

# Load libraries
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [33]:
df_train = pd.read_csv("new/trainingSet.csv")
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147229 entries, 0 to 147228
Data columns (total 4 columns):
decision_date         147229 non-null object
case_received_date    147229 non-null object
case_status           147229 non-null int64
row ID                147229 non-null int64
dtypes: int64(2), object(2)
memory usage: 4.5+ MB

In [34]:
# convert date string datatype to date/time datatype
df_train['case_received_date'] = pd.to_datetime(df_train['case_received_date'], format='%d/%m/%Y')
df_train['decision_date'] = pd.to_datetime(df_train['decision_date'], format='%d/%m/%Y')

# convert date/time datatype to epoch unix numeric datatype
df_train["case_received_date"] = pd.to_numeric(df_train["case_received_date"])/1000000000
df_train["decision_date"] = pd.to_numeric(df_train["decision_date"])/1000000000
# show float numeric as int 
pd.options.display.float_format = '{:.0f}'.format

df_train

        decision_date  case_received_date  case_status  row ID
0          1468800000          1460592000            0  293694
1          1464912000          1454544000            0  226196
2          1464912000          1448841600            0  358496
3          1477267200          1471219200            0  300774
4          1437004800          1394064000            0   29121
5          1455235200          1442880000            1  123549
6          1453852800          1440460800            1  142077
7          1462147200          1451520000            0  242501
8          1461715200          1439251200            0   50082
9          1442793600          1426809600            0   89959
10         1467849600          1457049600            0   16414
11         1454025600          1418774400            1  210300
12         1412812800          1399593600            1  208126
13         1464134400          1454889600            0  148792
14         1462924800          1449187200            0   16899
15         1440633600          1422921600            0  265151
16         1463356800          1453075200            0  143890
17         1430179200          1380499200            0   40801
18         1475020800          1468195200            0  141532
19         1424736000          1373587200            1  273926
20         1430438400          1415232000            0  226160
21         1430352000          1415059200            0  141474
22         1453939200          1435795200            2  187182
23         1421366400          1407974400            1  199474
24         1414627200          1402012800            1  310016
25         1413244800          1399507200            1  361360
26         1466035200          1457654400            0     156
27         1478563200          1470873600            0  100871
28         1465948800          1459123200            0   58991
29         1447804800          1430697600            1   29754
...               ...                 ...          ...     ...
147199     1480636800          1475020800            0  358463
147200     1415750400          1402272000            1  168264
147201     1471305600          1458259200            0  182401
147202     1458000000          1433980800            1  271074
147203     1443052800          1402272000            0  373355
147204     1458172800          1444176000            1  335811
147205     1413504000          1400803200            1   65616
147206     1417132800          1368144000            2   44739
147207     1421884800          1409011200            1  138960
147208     1450742400          1435276800            1   35565
147209     1453766400          1439510400            1  282531
147210     1481500800          1475712000            0  139371
147211     1446768000          1429228800            1  291804
147212     1436313600          1391040000            0   27394
147213     1418947200          1406764800            1  358565
147214     1470182400          1463616000            0  117131
147215     1453766400          1437696000            1   53263
147216     1413331200          1398902400            1  291373
147217     1441065600          1423699200            0  260979
147218     1471392000          1462320000            0     932
147219     1450137600          1435622400            1  352824
147220     1473724800          1466726400            0    2000
147221     1463443200          1452816000            0  124371
147222     1432771200          1416787200            0   56833
147223     1476403200          1346371200            0  368870
147224     1442534400          1426032000            0  213148
147225     1461542400          1444521600            0  283609
147226     1469750400          1453334400            0  167273
147227     1433462400          1412640000            0  294229
147228     1460937600          1450828800            0   30755

[147229 rows x 4 columns]

In [35]:
# Split training and testing dataset
dataset = df_train.values

# first 2 columns: case_received_date and decision_date
X = dataset[:,0:2] 
Y = dataset[:,2]

# testing group 20%
validation_size = 0.20
seed = 7 # random seed
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(X, Y, test_size=validation_size, random_state=seed)

# Test options and evaluation metric from cross value score of model
scoring = 'accuracy'

# models from scikit-learn that gonna be used 
models = []
models.append(('LR', LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
# models.append(('SVM', SVC()))

# evaluate each model
results = []
names = []

# print date/time of testing
print (time.ctime())

for name, model in models:
    kfold = model_selection.KFold(n_splits=10, random_state=seed)
    cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold, scoring=scoring)
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

Thu May 31 20:14:56 2018
LR: 0.528693 (0.006385)
LDA: 0.544815 (0.005277)
KNN: 0.955435 (0.001826)
CART: 0.952175 (0.001975)
NB: 0.590399 (0.004478)

In [36]:
df_test = pd.read_csv("new/TestingSet.csv")
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63234 entries, 0 to 63233
Data columns (total 4 columns):
row ID                63234 non-null int64
case_received_date    63233 non-null object
decision_date         63234 non-null object
case_status           0 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.9+ MB

In [37]:
# convert date string datatype to date/time datatype
df_test['case_received_date'] = pd.to_datetime(df_test['case_received_date'], format='%d/%m/%Y')
df_test['decision_date'] = pd.to_datetime(df_test['decision_date'], format='%d/%m/%Y')

# convert date/time datatype to epoch unix numeric datatype
df_test["case_received_date"] = pd.to_numeric(df_test["case_received_date"])/1000000000
df_test["decision_date"] = pd.to_numeric(df_test["decision_date"])/1000000000
df_test

       row ID  case_received_date  decision_date  case_status
0      341467          1437523200     1453334400          nan
1       12669          1463356800     1470009600          nan
2      354661          1420588800     1438214400          nan
3       76459          1449532800     1461888000          nan
4      149166          1418774400     1435795200          nan
5      237295          1429228800     1447977600          nan
6        7800          1454544000     1464912000          nan
7      290591          1449532800     1469750400          nan
8      369544          1441238400     1456272000          nan
9      326868          1423526400     1441238400          nan
10      39801          1463616000     1471478400          nan
11     164588          1449964800     1460592000          nan
12     309763          1460419200     1468454400          nan
13     161275          1442534400     1457654400          nan
14     180534          1472774400     1479686400          nan
15     159296          1450310400     1460505600          nan
16     331652          1468368000     1475193600          nan
17     303577          1446768000     1461283200          nan
18     207411          1454544000     1464134400          nan
19      64847          1450310400     1460505600          nan
20     254033          1402531200     1427932800          nan
21     273569          1445990400     1458691200          nan
22      65141          1476921600     1481587200          nan
23     338600          1420502400     1438214400          nan
24     218274          1406246400     1443052800          nan
25     161405          1436918400     1444262400          nan
26     293259          1460592000     1467763200          nan
27     323936          1465948800     1472601600          nan
28     279706          1468972800     1477267200          nan
29     202810          1414627200     1429056000          nan
...       ...                 ...            ...          ...
63204   52302          1433116800     1450396800          nan
63205    7311          1436745600     1452470400          nan
63206  274850          1399593600     1412812800          nan
63207  277806          1406505600     1422576000          nan
63208    3034          1413504000     1425859200          nan
63209   99703          1405555200     1418169600          nan
63210   17432          1466553600     1473638400          nan
63211  255039          1473379200     1482969600          nan
63212  268130          1440460800     1454889600          nan
63213  149740          1404864000     1444176000          nan
63214   32925          1473984000     1479168000          nan
63215   76721          1414368000     1428969600          nan
63216   81558          1440720000     1453852800          nan
63217   13559          1369353600     1416787200          nan
63218  103043          1370995200     1421712000          nan
63219  281668          1435536000     1449619200          nan
63220  181869          1415232000     1432252800          nan
63221  123260          1476748800     1481155200          nan
63222  216267          1450396800     1462492800          nan
63223  277767          1445990400     1458086400          nan
63224  331459          1431907200     1448236800          nan
63225  242780          1403827200     1442966400          nan
63226  346100          1432166400     1447977600          nan
63227  285937          1440374400     1456099200          nan
63228   43604          1421280000     1439769600          nan
63229  318554          1435708800     1436313600          nan
63230  326651          1442275200     1443484800          nan
63231  192544          1425427200     1455840000          nan
63232   64183          1447113600     1460419200          nan
63233  257590          1454889600     1465344000          nan

[63234 rows x 4 columns]

In [38]:
#loading my train and prediction dataset
training_df = df_train
testing_df = df_test

#datasets that will be used for predict the case_status
prediction_data = ['case_received_date','decision_date']

#training model with K Nearest Neighbors Classifier
model = KNeighborsClassifier()

#set prediction data to dataset_column that will predict, and set target of prediction to case_status
training_data = training_df[prediction_data]
testing_data = testing_df[prediction_data]
prediction_target = training_df.case_status

#fitting model with prediction data
model.fit(training_data, prediction_target)

# put result of prediction to case_status column at testing dataframe
testing_df['case_status'] = model.predict(testing_data)

testing_df

       row ID  case_received_date  decision_date  case_status
0      341467          1437523200     1453334400            1
1       12669          1463356800     1470009600            0
2      354661          1420588800     1438214400            0
3       76459          1449532800     1461888000            0
4      149166          1418774400     1435795200            0
5      237295          1429228800     1447977600            1
6        7800          1454544000     1464912000            0
7      290591          1449532800     1469750400            0
8      369544          1441238400     1456272000            1
9      326868          1423526400     1441238400            0
10      39801          1463616000     1471478400            0
11     164588          1449964800     1460592000            0
12     309763          1460419200     1468454400            0
13     161275          1442534400     1457654400            1
14     180534          1472774400     1479686400            0
15     159296          1450310400     1460505600            0
16     331652          1468368000     1475193600            0
17     303577          1446768000     1461283200            0
18     207411          1454544000     1464134400            0
19      64847          1450310400     1460505600            0
20     254033          1402531200     1427932800            1
21     273569          1445990400     1458691200            1
22      65141          1476921600     1481587200            0
23     338600          1420502400     1438214400            0
24     218274          1406246400     1443052800            0
25     161405          1436918400     1444262400            3
26     293259          1460592000     1467763200            0
27     323936          1465948800     1472601600            0
28     279706          1468972800     1477267200            0
29     202810          1414627200     1429056000            0
...       ...                 ...            ...          ...
63204   52302          1433116800     1450396800            1
63205    7311          1436745600     1452470400            1
63206  274850          1399593600     1412812800            1
63207  277806          1406505600     1422576000            1
63208    3034          1413504000     1425859200            1
63209   99703          1405555200     1418169600            1
63210   17432          1466553600     1473638400            0
63211  255039          1473379200     1482969600            0
63212  268130          1440460800     1454889600            1
63213  149740          1404864000     1444176000            1
63214   32925          1473984000     1479168000            0
63215   76721          1414368000     1428969600            0
63216   81558          1440720000     1453852800            1
63217   13559          1369353600     1416787200            1
63218  103043          1370995200     1421712000            1
63219  281668          1435536000     1449619200            1
63220  181869          1415232000     1432252800            0
63221  123260          1476748800     1481155200            0
63222  216267          1450396800     1462492800            0
63223  277767          1445990400     1458086400            1
63224  331459          1431907200     1448236800            1
63225  242780          1403827200     1442966400            0
63226  346100          1432166400     1447977600            1
63227  285937          1440374400     1456099200            1
63228   43604          1421280000     1439769600            0
63229  318554          1435708800     1436313600            3
63230  326651          1442275200     1443484800            3
63231  192544          1425427200     1455840000            1
63232   64183          1447113600     1460419200            0
63233  257590          1454889600     1465344000            0

[63234 rows x 4 columns]